body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.chat-main {
  height: 400px;
  width: 400px;
  margin-left: auto;
  margin-top: auto;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  border: solid lightgray 1px;
}

.chat-body {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.cards-container {
  display: flex;
}

.cards-container>.card {
  margin-right: 1rem;
}

.cards-container> :last-child {
  margin-right: 0;
}